<p id="notice"><%= notice %></p>


<h1>Województwo <%= @voivodship.name %></h1>
<table>


  <tbody>
  <strong>Okręgi</strong>
<ul>
  <% @voivodship.districts.each do |district| %>
      <li><%= district.name %></li>
  <% end %>
  </ul>
  <strong>Komitety</strong>
  <ul>
  <% @voivodship.commitees.each do |commitee| %>
     <li><%= commitee.name %></li>
  <% end %>
</ul>


  </tbody>
</table>



