<p id="notice"><%= notice %></p>

<%= link_to 'Nowy użytkownik' , new_user_path if can? :create, User %>
<%= link_to 'Okręg' , districts_path if cannot? :create, User %>



<%= link_to 'Okręg' , districts_path(@district) if can? :update, District %>

<br>

