<%= form_for(@user) do |f| %>
<div>
  <%= f.collection_select(:role, User::ROLES, :to_s, lambda{|i| i.to_s.humanize}) %>
</div>
    <div class="actions">
      <%= f.submit "Zatwierdź" %>
    </div>
<% end %>