<p id="notice"><%= notice %></p>

<p>
  <strong>Liczba głosów:</strong>
  <%= @vote.vote %>
</p>

<%= link_to 'Dodaj głosy', edit_vote_path(@vote) if can? [:edit, :update], Vote %> |
<%= link_to 'Powrót', commitees_path %>
